body {
    background-color: #faebd7;
}


main {
    padding: 1rem;
}

h1, h2 {
    color: #4682b4;
}

.intro, .benefits, .tips {
    margin-bottom: 1.5rem;
}

ul, ol {
    margin: 0;
    padding-left: 1.5rem;
}


/*menu*/
.footer {
    background-color: #ffe4c4; /* 背景色 */
    padding: 20px; /* 内側の余白 */
    text-align: center; /* テキストの中央寄せ */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボックスシャドウ */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .menu {
    display: flex; /* フレックスボックスレイアウト */
    justify-content: center; /* 子要素の中央寄せ */
    gap: 15px; /* 子要素間のスペース */
}

/* メニューリンクのスタイル */
.footer .menu a {
    text-decoration: none; /* テキスト装飾の削除 */
    color: #333; /* テキストの色 */
    font-weight: bold; /* 太字 */
    padding: 10px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角丸 */
    transition: background-color 0.3s; /* 背景色のトランジション */
}