body {
    background-color: #faebd7;
}
/* ヘッダーのスタイル */
.header {
    background-color:#ffe4c4; /* 背景色 */
    padding: 20px; /* 内側の余白 */
    text-align: center; /* テキストの中央寄せ */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボックスシャドウ */
}

/* メニューのスタイル */
.header .menu {
    display: flex; /* フレックスボックスレイアウト */
    justify-content: center; /* 子要素の中央寄せ */
    gap: 15px; /* 子要素間のスペース */
}

/* メニューリンクのスタイル */
.header .menu a {
    text-decoration: none; /* テキスト装飾の削除 */
    color: #333; /* テキストの色 */
    font-weight: bold; /* 太字 */
    padding: 10px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角丸 */
    transition: background-color 0.3s; /* 背景色のトランジション */
}



.welcome {
    display: flex;
    justify-content: center;
    margin: 5em;
}


/* アニメーションの定義 */
@keyframes fadeInUp {
    from {
        transform: translateY(100px); /* 下から100px */
        opacity: 0; /* 透明 */
    }
    to {
        transform: translateY(0); /* 元の位置 */
        opacity: 1; /* 不透明 */
    }
}
/* 全体のコンテナを中央に配置 */
.container {
    display: flex;
    justify-content: center;
    align-items: auto;
    height: 100vh; /* ビューポート全体の高さ */
    animation: fadeInUp 1s ease-out forwards; /* アニメーションの適用 */
}

/* メインコンテンツのスタイル */
.main {
    display: flex;
    gap: 20px; /* リンク間のスペース */
}

/* 各リンクのスタイル */
.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* 円の直径 */
    height: 100px; /* 円の直径 */
    border: 2px solid #333; /* 円の境界線 */
    border-radius: 50%; /* 円形にする */
    text-decoration: none; /* テキスト装飾の削除 */
    color: #333; /* テキストの色 */
    font-weight: bold; /* 太字 */
    transition: background-color 0.3s, color 0.3s; /* トランジションの設定 */
}
















